{% extends 'app/header.html' %}

  {% block content %}

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

          {% endif %}
        </ul>
      </div>
    </nav>
    
    {% comment %} Show the request button only if authenticated {% endcomment %}
    {% if user.is_authenticated %}

      <h1>LIMITED EDITIONS ECO-SHOES AUCTIONS</h1>
      <h2>Instructions</h2>
      <ul>
        <li>Connect to MetaMask before sending requests</li>
        <li>They will be not accept otherwise</li>
        <li>Type is the first checked variable to distinguish which operation</li>
        <li>Amount is in ETH</li>
        <li>Minimum amount is 0 ETH</li>
        <li>If type is new, amount is the strating price</li>
        <li>If type is contribute, amount is the offer</li>
      </ul>

      <button  id="connectButton" class="connect-btn">Connect To MetaMask</button>
      <form id="auction_form" method="post" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
      </form>
      <button type='submit' id="sendRequestButton" class="action-btn">Send request</button>
      

    {% else %}

    

    {% endif %}

    <h2>OPEN AUCTIONS</h2>
    <table class="table p-4 bg-white shadow rounded-lg">
      <thead>
        <tr>
          <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> ID </th>
          <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Beneficiary </th>
          <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Description </th>
          <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Biggest offer </th>
          <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Deadline </th>
        </tr>
      </thead>
      <tbody> {% for order in pending_auctions %}
        <tr class="text-gray-700">
          <td class="border-b-2 p-4 dark:border-dark-5"> {{order.id}} </td>
          <td class="border-b-2 p-4 dark:border-dark-5"> {{order.beneficiary}} </td>
          <td class="border-b-2 p-4 dark:border-dark-5"> {{order.description}} </td>
          <td class="border-b-2 p-4 dark:border-dark-5"> {{order.max_offer}} </td>
          <td class="border-b-2 p-4 dark:border-dark-5"> {{order.deadline}} </td>
        </tr> {% endfor %} 
      </tbody>
    </table>

    <h2>PAST RESULTS</h2>
    <table class="table p-4 bg-white shadow rounded-lg">
      <thead>
        <tr>
          <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> ID </th>
          <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Beneficiary </th>
          <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Biggest price</th>
          <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Data </th>
        </tr>
      </thead>
      <tbody> {% for order in ended_auctions %}
        <tr class="text-gray-700">
          <td class="border-b-2 p-4 dark:border-dark-5"> {{order.id}} </td>
          <td class="border-b-2 p-4 dark:border-dark-5"> {{order.beneficiary}} </td>
          <td class="border-b-2 p-4 dark:border-dark-5"> {{order.max_offer}} </td>
          <td class="border-b-2 p-4 dark:border-dark-5"> {{order.deadline}} </td>
        </tr> {% endfor %} 
      </tbody>
    </table>

  {% endblock %}