{% extends 'app/header.html' %}

  {% block content %}

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

          {% endif %}
        </ul>
      </div>
    </nav>
    
    {% comment %} Show the request button only if authenticated
    It will be on gray background if metamsk not activated {% endcomment %}
    {% if user.is_authenticated %}
          
    <button type="submit" id="sendRequestButton" class="action-btn">Send request</button>
    <button  id="connectButton" class="connect-btn">Connect To MetaMask</button>

    {% else %}

    

    {% endif %}

    

     <!--CTA-->
     {% comment %} {% if user.is_authenticated %}
     <p>Hi {{user}}, take a look at our Charity Auctions.</p>
     <a class="btn" href="{% url 'auctionsList' %}"><i class="fa fa-shopping-cart"></i>See Auctions</a>
     {% else %}
     <p>Take a look at our Charity Auctions.</p>
     <a class="btn" href="{% url 'login' %}"><i class="fa fa-shopping-cart"></i>Login To Participate In Auctions</a>
     {% endif %} {% endcomment %}
  {% endblock %}