{% extends 'app/header.html' %}

  {% block content %}

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

          {% endif %}
        </ul>
      </div>
    </nav>
    
    {% comment %} Show the request button only if authenticated {% endcomment %}
    {% if user.is_authenticated %}

      <h1>Instructions</h1>
      <ul>
        <li>Connect to MetaMask before sending requests</li>
        <li>They will be not accept otherwise</li>
        <li>Type is the first checked variable</li>
        <li>Amount is in ETH</li>
        <li>Minimum amount is 0 ETH</li>
      </ul>

      <button  id="connectButton" class="connect-btn">Connect To MetaMask</button>
      <form id="auction_form" method="post" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
      </form>
      <button type='submit' id="sendRequestButton" class="action-btn">Send request</button>
      

    {% else %}

    

    {% endif %}

  {% endblock %}